* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Work Sans", sans-serif;
  background-color: #1e1e1e;
  color: white;
}

body {
  font-size: 18px;
  text-align: justify;
}

.header {
  background-color: #333333;
  color: white;
  font-size: 38px;
  padding: 15px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: center;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #333333;
  border-radius: 10px;
  overflow: hidden;
}

.menu li:hover {
  background-color: #4a4b4e;
  cursor: pointer;
}

iframe {
  float: right;
  width: 100%;
  height: 185px;
}

h1,
h2,
h3 {
  color: #e48070;
  margin: 0;
  padding: 0;
}

a {
  color: #969696;
  text-decoration: none;
}

a:hover {
  color: #ffa500;
}

.footer {
  background-color: #333333;
  color: white;
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
